@font-face {
  font-family: Roboto;
  src: url("../roboto/Roboto-Medium.ttf");
}

body{
  background-color: rgb(48, 47, 47);
  font-family: Roboto;
}

.App {
  display:flex;
  flex-direction: row;
}

.vertical_unfolding{
  display:flex;
  flex-direction: column;
  width:85%;
}

